{% from "macros.html" import input, subnav_back, render_pagination, render_event %}
{% extends "calendars.html" %}
{% block subnav %}
{{ subnav_back(url_for("calendars"), label="Back to calendars") }}
{% endblock %}


{% block content %}
<div class="card">
  <h4 class="card-header">Calendar group</h4>
  <div class="card-body">
    <form novalidate method="POST" action="" class="form-inline">
      <div class="form-group mr-2">
        {{ input(form.name) }}
        {{ form.csrf_token }}
      </div>
      <button class="btn btn-primary" type="submit">Save</button>
    </form>

    <input class="form-control mt-2" readonly value="{{ url_for("calendar_ics", slug=cal.slug, name=cal.name, from="-31d", _external=True) }}"></input>

    {% if sources %}
    <div class="card mt-5">

      <div class="card-body">
        <h4 class="card-title">Sources</h4>
        <table class="table editable-table">
          <thead>
            <tr>
              <th>URL</th>
              <th>actions</th>
            </tr>
          </thead>
          <tbody>
            {% for source in sources %}
            <tr>
              <td>
                <a href="{{ url_for("edit_source", cal_id=cal.id, source_id=source.id) }}">{{ source.url | shorten(90) }}</a>
              </td>
              <td>
                <form method="post" action="{{ url_for("delete_source", cal_id=cal.id, source_id=source.id) }}">
                  <div class="btn-group" role="group">
                    {# <a href="{{ url_for("edit_source", cal_id=cal.id, source_id=source.id) }}" class="btn btn-outline-secondary">Edit</a> #}
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                  </div>
                  {{ delete_form.csrf_token }}
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <a href="{{ url_for("add_source", cal_id=cal.id) }}" class="btn btn-primary">Add new</a>

      </div>
    </div>
  
    {% if events.items|length > 0 %}
    <div class="card mt-5" id="events-card">

      <div class="card-body">
        <h4 class="card-title">Events</h4>
        
        {% for event in events.items %}
        {{ render_event(event) }}
        {% endfor %}

        {%- call(page) render_pagination(events) %}
        {{- url_for("calendar_edit", cal_id=cal.id, page=page, _anchor="events-card") }}
        {%- endcall %}
        
      </div>
    </div>
    {% endif %}

  {% endif %}
</div>
{% endblock %}

