{% extends "base.html" %}

{% block content %}
<h1>Privacy policy</h1>

<p>
This service does not collect usage statistics, nor does it aggregate analytics. The only data stored are the email address and password of the user, which are required to allow authentication. The data entered further into the service (i.e. calendar URLs and any descriptions) do not allow identification of the user and are stored indefinitely.
</p>

<p>
Cookies are used to identify a session, and to store a so-called CSRF token, which increases security of forms that are used to interact with the application. The session cookie is set even before the user logs in, and is only associated with a user account on login.
</p>

<p>
Export of data supplied to this service, as well as requests to delete data can be addressed at <a href="mailto:hello@paulgessinger.com">hello@paulgessinger.com</a>.
</p>

{% endblock %}
